@media screen and (prefers-reduced-motion: reduce) {
  .show-on-reduced-motion {
    display: block;
  }
  .hide-on-reduced-motion {
    display: none;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .show-on-reduced-motion {
    display: none;
  }
  .hide-on-reduced-motion {
    display: block;
  }
}
